@import-normalize; /* bring in normalize.css styles */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
  border: none;
  outline: none;
}

image {
  display: block;
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.custom-select__control {
  padding: 2px 0 2px 20px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  border-bottom-right-radius: 12px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top: 2px solid #ffffff !important;
  width: 100% !important;
}

@media screen and (min-width: 1280px) {
  .custom-select__control {
    width: 169px;
  }
}

.custom-select__value-container {
  padding: 0 !important;
  border: none !important;
  border-radius: none !important;
  cursor: text !important;
}

.custom-select__single-value {
  margin: 0 !important;
  font-family: Roboto, sans-serif !important;
  font-style: regular !important;
  font-size: 12px !important;
  line-height: 1.7 !important;
  letter-spacing: 0.02em !important;
  opacity: 0.7 !important;
}

.custom-select__placeholder {
  /* padding: 10px 0 10px 20px !important; */
  margin: 0 !important;
  font-family: Roboto, sans-serif !important;
  font-style: regular !important;
  font-size: 12px !important;
  line-height: 1.7 !important;
  letter-spacing: 0.02em !important;
  color: #c7ccdc !important;
  opacity: 0.7 !important;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.custom-select__menu {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff !important;
  box-shadow: rgba(170, 178, 197, 0.4) !important;
  border: 2px solid #f5f6fb !important;
  border-radius: 4px !important;
  outline: none !important;
}

.custom-select__option {
  cursor: pointer !important;
  color: #c7ccdc !important;
  opacity: 0.7 !important;
  font-family: Roboto, sans-serif !important;
  font-style: regular !important;
  font-size: 12px !important;
  line-height: 1.7 !important;
  letter-spacing: 0.02em !important;
  color: #c7ccdc !important;
  padding-left: 20px !important;
}

.custom-select__option--is-focused {
  background-color: #f5f6fb !important;
  color: #52555f !important;
}

.custom-select__control--menu-is-open {
  box-shadow: rgba(170, 178, 197, 0.4) !important;
  border: none !important;
  border-radius: none !important;
}
