.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #3f51b5;
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #303f9f;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
